<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.centerm.land">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- PERMISSION FOR CENTERM Device -->
    <!-- 密码键盘权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_PINPAD_MODULE" />
    <!-- 刷卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SWIPE_MODULE" />
    <!-- POBC权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_PBOC_MODULE" />
    <!-- 新PBOC权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_NEW_PBOC_MODULE" />
    <!-- IC卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_IC_MODULE" />
    <!-- 非接卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_RF_MODULE" />
    <!-- 打印机权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_PRINTER_MODULE" />
    <!-- 系统设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SYSTEM_MODULE" />
    <!-- 钱箱设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_CASHBOX_MODULE" />
    <!-- 客显设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_CUSTOMER_DISPLAY_MODULE" />
    <!-- M1卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_M1_MODULE" />
    <!-- MODEM设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MODEM_MODULE" />
    <!-- PSAM卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_PSAM_MODULE" />
    <!-- 串口设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SERIAL_PORT_MODULE" />
    <!-- 辅屏设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_OLED_MODULE" />
    <!-- 身份证设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_ID_MODULE" />
    <!-- LCD设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_LCD_MODULE" />
    <!-- 安全模块权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SAFE_MODULE" />
    <!-- MEM4442卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MEM4442_MODULE" />
    <!-- MEM102卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MEM102_MODULE" />
    <!-- MEM1608卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MEM1608_MODULE" />
    <!-- MEMAT24C02卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MEMAT24C02_MODULE" />
    <!-- 版本获取权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_VERSION_MODULE" />
    <!-- 语音播报 -->
    <uses-permission android:name="android.permission.CPAYSDK_VOICE_MODULE" />
    <!-- 静默安装应用接口权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SILENT_INSTALL" />
    <!-- 静默卸载应用接口权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_SILENT_UNINSTALL" />
    <!-- 扫码权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_QUICK_SCAN" />
    <!-- MEM4428卡设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_MEM4428_MODULE" />
    <!-- WIFI探针设备权限 -->
    <uses-permission android:name="android.permission.CPAYSDK_WIFI_PROBE_MODULE" />
    <uses-permission android:name="android.permission.CPAYSDK_SYSTEM_MODULE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MenuServiceActivity" />
        <activity android:name=".activity.MenuServiceListActivity" />
        <activity android:name=".activity.CalculatePriceActivity" />
        <activity
            android:name=".activity.menuvoid.VoidActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SlipTemplateActivity" />
        <activity
            android:name=".activity.SettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.menuvoid.MenuActivity" />
        <activity android:name=".activity.settlement.MenuSettlementActivity" />
        <activity android:name=".activity.settlement.SlipSettlementActivity" />
        <activity android:name=".activity.qr.MenuQrActivity" />
        <activity android:name=".activity.qr.GenerateQrActivity" />
        <activity android:name=".activity.qr.CheckQrActivity"></activity>
    </application>

</manifest>